/* ========================================================== BODY =================================================================== */
/* BODY */
/* ========================================================== BODY =================================================================== */

/* IMG HELP */
.img_help {
    opacity: 40%;
    width: 40px;
    height: 40px;
    display: flex;
}

/* ========================================================== MAIN CONTAINER ========================================================= */
/* MAIN CONTAINER */
.container-fluid {
    padding: 10px !important;
}

/* ========================================================== CONNECTION FORM ======================================================== */
/* CONNECTION FORM */
.connection_form {
    background-color: rgba(255, 255, 255, 0.479);
    margin: auto;
    width: 50%;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin-top: 8%;
}

.form_connection {
    padding: 10px;
}

.metro-input {
    width: 60% !important;
}

/* SUBMIT */
.btn_confirm1 {
    text-align: center;
    margin-top: 5%;
}

/* ========================================================== FOOTER ================================================================= */
/* FOOTER */
.footer {
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    opacity: 40%;
}

/* ========================================================== BODY END =============================================================== */